*{
    padding: 0;
    margin:0;
    list-style: none;
}
body
{
    background-color:#eeeeee ;
    min-height:97vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:#202020;
    height: 50px;
    direction: rtl;
    border-bottom: 1px solid rgba(0,0, 0, 0.4);
    width: 100%;
}

.row {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content:space-between;
}

.column
{
    padding:0;
    margin-right: 0;
    direction: rtl;
    display: flex;
}


.logo {
    /*font-family:"Arial Narrow";*/
    font-size:35px;
    color:#ffbb33;
    margin-right: 25px;
    margin-left: 120px;
}

.logo img
{
    width:150px;
    padding-top: 5px;
    height: auto;
}


.hello-account
{
    margin-left: 20px;
    color:orange;
}

.NameAccount
{
    text-decoration: none;
    color:orange;
}

.logout
{
    text-decoration: none;
    color:orange;
    margin-right: 2px;
}
.NameAccount:hover
{
    color: white;
}

.logout:hover
{
    color: white;
}

.header-name-account
{
    direction: rtl;
    padding-top: 2rem;
}


.sign-out
{
    margin-right: 3rem;
}
.sign-out i{
    color: orange;
}


.navbar
{
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    height: 50px;
    direction: rtl;

}

.navbar-list
{
    display: flex;
    padding-top: 16px;
    padding-right: 15px;

}
.navbar-list li{

    padding-left:60px;
}
.navbar-list li a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    padding-left: 20px;
    color: #888888;
}
.navbar-list li a i{
    padding-top: 4px;

}
.navbar-list li a:hover
{
    color: black;
}


.border-dash a{
    border-left: 2px solid rgba(0,0,0,0.1)
}


.table-home
{
    padding-top: 30px;
    direction: rtl;
    padding-bottom: 2.5rem;
}

.table-history
{
    padding-top: 30px;
    direction: rtl;
    padding-bottom: 2.5rem;
}

.table-panel{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-collapse: separate;
    border-spacing: 0 20px;

}

.table-panel th, .table-panel td {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 8px;
    text-align: center;

}
.table-panel th {
    background-color: #f2f2f2;
    position: relative;
}

.table-panel-tr
{
    color: #4c4c4c;
}


.start-btn
{

    text-decoration: none;
    color: black;
    background-color: #dad8d8;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.start-btn:hover
{
    color: red;
}


